<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="../js/jquery.min.js"></script>
    <script>
        $(function () {
            $('#getcode').click(function(){

                //发送验证码
                var email = $("#email").val();
                if(email==""){
                    return;
                }
                alert("验证码已发送，请及时查看你的邮箱");
                $(".code").toggle();
                //ajax实现后台邮箱的发送
                $.ajax({
                    //url路径
                    url: "http://localhost:8080//student-password/sendEmail",
                    //data请求数据
                    data: {"email": email},
                    //dataType json
                    type: "post",
                    //回调函数
                    success: function (data) {
                        //回调函数 data 返回流
                        if (data == "failure") {
                            alert("发送失败");
                        }
                        else if (data=="false"){
                            alert("目标邮箱不存在，请检查你的邮箱是否正确");
                        }
                        //  else{

                        // }
                    }
                });


            });
        })


    </script>
</head>
<body background="../static/images/bg1.jpg">
    <form action="/student-password/register" method="post">
        <div class="field">
            <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="text" name="email" id="email" placeholder="邮箱">
                <input type="button" id="getcode" class="ui grey label" value="获取验证码">
            </div>
            <div>
                <input name="mailCode" type="text" id="mailCode" placeholder="输入邮箱验证码">
            </div>
        </div>
        <input  type="submit" value="提交">
    </form>


</body>
</html>