<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.glut.competition.mapper.ContestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.glut.competition.entity.Contest">
        <id column="contest_id" property="contestId" />
        <result column="contest_name" property="contestName" />
        <result column="contest_start" property="contestStart" />
        <result column="contest_end" property="contestEnd" />
        <result column="leader" property="leader" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        contest_id, contest_name, contest_start, contest_end, leader, state
    </sql>

</mapper>
