<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.glut.competition.mapper.EnrollMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.glut.competition.entity.Enroll">
        <result column="student_id" property="studentId" />
        <result column="student_name" property="studentName" />
        <result column="student_faculty" property="studentFaculty"/>
        <result column="student_class" property="studentClass" />
        <result column="id_card" property="idCard" />
        <result column="instructor" property="instructor" />
        <result column="contest_id" property="contestId" />
    </resultMap>
    
    <resultMap id="EnrollViewMap" type="org.glut.competition.service.Model.EnrollModel" extends="BaseResultMap">
        <association property="contest" javaType="org.glut.competition.entity.Contest">
            <id column="contest_id" property="contestId" />
            <result column="contest_name" property="contestName" />
            <result column="contest_start" property="contestStart" />
            <result column="contest_end" property="contestEnd" />
            <result column="leader" property="leader" />
            <result column="state" property="state" />
        </association>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        student_id, student_name, student_class, id_card, instructor, event_id
    </sql>

    <select id="enrollView" resultMap="EnrollViewMap">
        select enroll.*,contest.*
        from enroll
        join contest
        on enroll.contest_id=contest.contest_id
        where enroll.student_id=#{studentId}
    </select>
</mapper>
