<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.glut.competition.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.glut.competition.entity.User">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="faculty" property="faculty" />
        <result column="class_a" property="class_a" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, user_name, faculty, class_a, gender, email
    </sql>

    <insert id="userSaveBatch" parameterType="org.glut.competition.entity.User">
        insert into user (user_id,user_name,faculty,class_a,gender)
        values 
        <foreach collection="list" item="users" index="index" separator=",">
            (#{users.userId},#{users.userName},#{users.faculty},#{users.classA},#{users.gender})
        </foreach>
    </insert>
</mapper>
