<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.glut.competition.mapper.WorksMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.glut.competition.entity.Works">
        <id column="works_id" property="worksId" />
        <result column="works_name" property="worksName" />
        <result column="works_content" property="worksContent" />
        <result column="student_id" property="studentId" />
        <result column="competition_id" property="competitionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        works_id, works_name, works_content, student_id, competition_id
    </sql>

</mapper>
